fastapi>=0.95.0,<0.96
#openai>=0.27.0,<0.28
langchain>=0.0.189
youtube-transcript-api==0.6.0
sentence-transformers>=2.2.2
faiss-cpu>=1.7.4
#tiktoken>=0.3.3
python-dotenv>=1.0.0
yt-dlp 
torchaudio 
transformers 
accelerate
ijson
#langchain-community 
#langchain-openai 
#langchain-huggingface
soundfile
pyspark 
pandas 
ffmpeg-python
torch
mysql-connector-python
openai-whisper
pyarrow
#typing-extensions>=4.5.0
uvicorn 
whisper 
gTTS 
pymysql 
jinja2